.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 15vh;
}

.logo{
    width: 25%;
    display: grid;
    place-items: center;
}

.heading{
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    
}